@import "variables";
@import "mixins";

.excel__toolbar {
  position: absolute;
  height: $toolbar-height;
  width: 100%;
  top: $header-height;
  border-top: 1px solid $hover-border;
  border-bottom: 1px solid $hover-border;
  padding: 7px 10px;
  display: flex;

  & .button {
    @include button(red);
  }
}
